<footer class="site-footer">
    <div class="container">
        <div class="cols">
            <div class="col about">
                <h3>CodiiTech</h3>
                <p>We build modern web and mobile experiences. Software development, Web design, Mobile apps. </p>
            </div>
            <div class="col">
                <h4>Services</h4>
                <ul>
                    <li><a routerLink="/services">Web & App Development</a></li>
                    <li><a routerLink="/services">UI/UX Design</a></li>
                    <li><a routerLink="/services">Custom Software</a></li>
                    <li><a routerLink="/services">Business Process Outsourcing </a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Company</h4>
                <ul>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/privacy">Privacy & Policy</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col contact">
                <h4>Contact</h4>
                <p>Email: <a href="mailto:hello&#64;codiitech.example">hello&#64;codiitech.example</a></p>
                <p>Phone: +1 (555) 123-4567</p>
                <div class="socials">

                    <!-- Instagram -->
                    <a routerLink="/comming-soon" class="social-icon instagram" aria-label="Instagram">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span>
                    </a>

                    <!-- LinkedIn -->
                    <a routerLink="/comming-soon" class="social-icon linkedin" aria-label="LinkedIn">
                        <i class="fab fa-linkedin-in"></i>
                        <span>LinkedIn</span>
                    </a>

                    <!-- Email -->
                    <a routerLink="/comming-soon" class="social-icon email" aria-label="Email">
                        <i class="fas fa-envelope"></i>
                        <span>Email</span>
                    </a>

                </div>
            </div>
        </div>
        <!-- Footer Actions -->
        <div class="footer-actions">
            <button class="privacy-toggle" (click)="togglePrivacy()">
                Privacy & Policy
                <!-- <span class="arrow" [class.open]="showPrivacy"></span> -->
            </button>
        </div>

        <!-- Inline Privacy Preview -->
        <div class="privacy-dropdown" *ngIf="showPrivacy">
            <app-privacy [isPreview]="true"></app-privacy>
        </div>


        <div class="copyright">© {{ currentYear }} CodiiTech — All rights reserved</div>
    </div>

    <div class="logo">
        <a routerLink="/" (click)="scrollToTop()">
            <img src="assets/companyLogo_2.png" alt="Company Logo" class="logo-img">
        </a>
    </div>
</footer>